body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
background-color: aqua;
width:400px ;
height: 200px;
box-shadow: 1px 1px 10px red;
align-items: center;
justify-content: center;
text-align: center;

}